<div class="well">
  {{#each currentMatches}}<span class="btn btn-link" {{action "fetchGameData" this}}>{{this}}</span>{{/each}}
</div>
{{#if hasGameData}}
  {{view "gameHeader" gameSnapshot=curGameData}}
  {{view "gameBody"   gameSnapshot=curGameData}}
  {{view "gameFooter" gameSnapshot=curGameData}}
{{/if}}
